.nav {
    background-color: rgb(99, 8, 8);
}

.logo {
    width: 30%;
    height: 30%;
}

.home-slider a,
.wrap-about a,
.blog-entry .btn,
.btn-gallery a {
    background-color: rgb(99, 8, 8);
    color: white;
}

.portfolio-menu .btn {
    outline: pink;
}


/* .container{
	width:90%
	margin:10px auto;
} */
.portfolio-menu {
    text-align: center;
}

.portfolio-menu ul li {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    -webkit-transition: all 05s ease;
    -moz-transition: all 05s ease;
    -ms-transition: all 05s ease;
    -o-transition: all 05s ease;
    transition: all .5s ease;
}

.portfolio-item {
    /*width:100%;*/
}

.portfolio-item .item {
    /*width:303px;*/
    float: left;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

#send {
    background-color: rgb(99, 8, 8);
}

.service1 {
    background-color:rgb(115, 36, 36) ;
}

.service2 {
    background-color: rgb(169, 74, 74);
}

.service3 {
    background-color: rgb(200, 130, 130);
}

.service4 {
    background-color: rgb(107, 14, 14);
}

.log-link {
    color: rgb(99, 8, 8);
    font-weight: bold;
}

#gallery-img {
    object-fit: cover;
    width: 100%;
    height: 190px;
}

.parteners-images {
    /* width: 50%; */
}

.btn-search {
    visibility: hidden;
}

.form-login,
.register-form,
.form-profile {
    margin-top: 50px;
    margin-bottom: 50px;
}
.forgot-password-form {
    margin-top: 90px;
    margin-bottom: 90px;
}
.event-date {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
}

.event-infos {
    margin-left: 20px;
}

.event-image {
    width: 600px;
}

.event_info ul {
    list-style-type: none;
}

.event-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}

.event-icon,
.event-info-title {
    background-color: rgb(99, 8, 8);
}

#event-day {
    width: 50px;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(247, 59, 59);
}

#event-month {
    width: 80px;
    height: 40px;
    border-top-left-radius: 1px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 5px;
    background-color: rgb(174, 253, 95);
}

.event-entry {
    /* width: 600px; */
}

#active-link,
.category-link {
    color: rgb(99, 8, 8);
    font-weight: bold;
}

#btn-user-name {
    background-color: rgb(99, 8, 8);
    color: white;
}

.fc-image-size {
    width: 400px;
}

.u2g-image-size {
    width: 200px;
}

.adn-image-size {
    width: 150px;
}

.event-grid-icon,
.submit-button:hover {
    color: pink;
}

.submit-button {
    width: 15rem;
    background-color: rgb(99, 8, 8) !important;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.lb-link{
    text-decoration: underline;
}
.submit-register{
    /* margin-left: 16rem; */
}
.input-register{
    width: 25rem;
}
#btn-submit:disabled{
    background-color: rgb(137, 147, 155);
    cursor: not-allowed;
}
.card-image-description{
    visibility: hidden;
}
.staff:hover .card-image-description{
    height: 300px;
    visibility: visible;
}
.staff:hover .img{
    opacity: 0.3;
}
.ftco-footer-social li #icon-facebook:hover{
    background-color: #4267B2;
}
.ftco-footer-social li #icon-youtube:hover{
    background-color: #FF0000;
}
#teacher-image,#event-img{
    object-fit: cover;
}
#event-img{
    height: 250px !important;
}
.events-list{
    margin-top: 50px;
}
.posts-list{
    margin-bottom: 10px;
}